

.allInput{
    width: 75%;
}

ul li{
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: transparent 10px solid;
    border-top: transparent 10px solid;
    border-left: rgb(29, 212, 12) 10px solid;
    border-right: transparent 10px solid;
    width: 15px;
    height: 15px;
}
